@import '../../theme/var.css';

.h-message {
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 1001;
    width: 380px;
    text-align: left;
    border-radius: 4px;
    padding: 15px 15px 15px 20px;
    transform: translateX(-50%);
}

.message-type--success {
    color: var(--theme-color-success);
    background-color: var(--theme-bg-success);
}

.message-type--warning {
    color: var(--theme-color-warning);
    background-color: var(--theme-bg-warning);
}

.message-type--message {
    color: var(--theme-color-message);
    background-color: var(--theme-bg-message);
}

.message-type--danger {
    color: var(--theme-color-danger);
    background-color: var(--theme-bg-danger);
}
