@import '../../common/animation.css';

.h-message {
    position: fixed;
    top: 20px;
    left: calc(50% - 190px);
    z-index: 3001;
    width: 380px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 4px;
    padding: 15px 15px 15px 20px;
    transition: top 0.5s ease-in-out;
    animation: messageAppear 0.5s ease-in-out;
}

.h-message-disappear {
    animation: messageDisappear 0.5s ease-in-out;
}

.message-type--success {
    color: var(--theme-text-color-white);
    background-color: var(--theme-bg-success);
}

.message-type--warning {
    color: var(--theme-text-color-white);
    background-color: var(--theme-bg-warning);
}

.message-type--message {
    color: var(--theme-text-color-white);
    background-color: var(--theme-bg-message);
}

.message-type--danger {
    color: var(--theme-text-color-white);
    background-color: var(--theme-bg-danger);
}
