.h-button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: var(--theme-color-primary);
    color: var(--theme-text-color-white);
}

.h-button[plain] {
    background-color: var(--theme-color-primary-plain);
    color: var(--theme-text-color-primary-plain);
}

.h-button[plain]:not(:disabled):hover {
    background-color: var(--theme-color-primary-plain-hover);
    color: var(--theme-text-color-primary-plain-hover);
}

.h-button:disabled {
    cursor: not-allowed;
    color: var(--theme-text-color-disabled);
    background-color: var(--theme-bg-block-disabled);
}

.h-button:not(:disabled):hover {
    background-color: var(--theme-color-primary-plain-hover);
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fa-spinner {
    animation: rotate 1s infinite;
}

.h-button[round] {
    border-radius: 20px;
}

.h-button--medium {
    padding: 10px 20px;
    border-radius: 4px;
}

.h-button--medium[round] {
    border-radius: 18px;
}

.h-button--small {
    padding: 9px 15px;
    font-size: 12px;
}

.h-button--small[round] {
    border-radius: 16px;
}

.h-button--mini {
    padding: 7px 15px;
    font-size: 12px;
}

.h-button--mini[round] {
    border-radius: 14px;
}
