@import '../../theme/var.css';

.h-button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: var(--theme-color-primary);
    color: var(--theme-text-color-white);
}

.h-button:hover {
    background-color: var(--theme-hover-color-primary);
}
