/* 颜色待确认 */
[data-theme="light"] {
    --theme-color-primary: #6ea82f;
    --theme-color-success: #6ea82f;
    --theme-color-warning: #e09d16;
    --theme-color-danger: #dc3a48;
    --theme-color-secondary: #333;
    --theme-bg-global: #fff;
    --theme-bg-primary: rgba(110, 168, 47, 0.1);
    --theme-bg-success: rgba(110, 168, 47, 0.1);
    --theme-bg-warning: rgba(255, 162, 0, 0.1);
    --theme-bg-danger: rgba(220, 58, 72, 0.1);
    --theme-bg-secondary: rgba(51, 51, 51, 0.1);
    --theme-bg-block: #fff;
    --theme-bg-block-dark: #f5f6f7;
    --theme-bg-reverse: #333;
    --theme-text-color: #333;
    --theme-text-color-auxiliary: #666;
    --theme-text-color-secondary: #999;
    --theme-text-color-white: #fff;
    --theme-text-color-disabled: #aaa;
    --theme-text-color-link: #456199;
    --theme-text-color-reverse: #fff;
    --theme-border-color: #f5f6f7;
    --theme-border-color-focus: #7cb043;
    --theme-border-color-dark: #e6e6e6;
    --theme-border-color-divider: #ebebeb;
    --theme-border-color-input: #ccc;
    --theme-hover-color: #f0f0f0;
    --theme-hover-color-primary: #7cb043;
    --theme-active-color: #f0f0f0;
}

[data-theme="dark"] {
    --theme-color-primary: #ff7241;
    --theme-color-success: #6ea82f;
    --theme-color-warning: #e09d16;
    --theme-color-danger: #dc3a48;
    --theme-color-secondary: #333333;
    --theme-bg-global: #ffffff;
    --theme-bg-primary: rgba(110, 168, 47, 0.1);
    --theme-bg-success: rgba(110, 168, 47, 0.1);
    --theme-bg-warning: rgba(255, 162, 0, 0.1);
    --theme-bg-danger: rgba(220, 58, 72, 0.1);
    --theme-bg-secondary: rgba(51, 51, 51, 0.1);
    --theme-bg-block: #ffffff;
    --theme-bg-block-dark: #f5f6f7;
    --theme-bg-reverse: #333;
    --theme-text-color: #333333;
    --theme-text-color-white: #fff;
    --theme-text-color-auxiliary: #666666;
    --theme-text-color-secondary: #999999;
    --theme-text-color-disabled: #cccccc;
    --theme-text-color-link: #ff7241;
    --theme-text-color-reverse: #fff;
    --theme-border-color: #ebebeb;
    --theme-border-color-focus: #f7835c;
    --theme-border-color-dark: #e6e6e6;
    --theme-border-color-divider: #e6e6e6;
    --theme-border-color-input: #ccc;
    --theme-hover-color: #f0f0f0;
    --theme-hover-color-primary: #f7835c;
    --theme-active-color: #f0f0f0;
}
