[data-theme="light"] {
    --theme-color-primary: #ffb769;
    --theme-color-success: #6ea82f;
    --theme-color-warning: #e09d16;
    --theme-color-message: #909399;
    --theme-color-danger: #dc3a48;
    --theme-color-secondary: #333;
    --theme-bg-global: #f6f2ef;
    --theme-bg-primary: #ffb769;
    --theme-bg-success: #6ea82f;
    --theme-bg-warning: #e09d16;
    --theme-bg-message: #909399;
    --theme-bg-danger: #dc3a48;
    --theme-bg-secondary: rgba(51, 51, 51, 0.1);
    --theme-bg-block: #fff;
    --theme-bg-block-disabled: #bdc5cf;
    --theme-bg-block-dark: #f5f6f7;
    --theme-bg-reverse: #333;
    --theme-bg-tag: #f5b976;
    --theme-bg-active: #cccccc61;
    --theme-header-bg-color: #fff;
    --theme-popover-bg-color: #fff;
    --theme-text-color: #333;
    --theme-text-color-auxiliary: #666;
    --theme-text-color-auxiliary-light: #7e7e7e;
    --theme-text-color-secondary: #999;
    --theme-text-color-white: #fff;
    --theme-bg-color-white: #fff;
    --theme-text-color-disabled: #aaa;
    --theme-text-color-link: #ffb769;
    --theme-text-color-reverse: #fff;
    --theme-border-color: #e6e6e6;
    --theme-border-color-dark: #e6e6e6;
    --theme-border-color-divider: #f3e1ce;
    --theme-border-color-disabled: #e4e7ed;
    --theme-border-color-input: #ccc;
    --theme-border-color-input-focus: #7cb043;
    --theme-input-bg-color: #fdedd3;
    --theme-input-text-color: #333;
    --theme-input-placeholder-color: #f9b278;
    --theme-hover-color: #ffc484;
    --theme-hover-color-primary: #ffc484;
    --theme-active-color: #f99326;
    --theme-icon-color-auxiliary: #808080;
    --theme-modal-bg-color: rgba(37, 37, 37, 0.7);
    --theme-color-primary-plain: #ffe0bf;
    --theme-text-color-primary-plain: #f99326;
    --theme-color-primary-plain-hover: #f99326;
    --theme-text-color-primary-plain-hover: #fff;
    --theme-bg-color-badge: #f85726;
    --theme-text-color-badge: #fff;
    --theme-shadow-color: #f1ddd0;
    --theme-douyu-unbind-color: #b3704d;
    --theme-douyu-unbind-hover-color: #ff813c;
    --theme-douyu-color: #ff813c;
    --theme-bilibili-unbind-color: #4a6dc7;
    --theme-bilibili-unbind-hover-color: #5f84e3;
    --theme-bilibili-color: #5f84e3;
    --theme-words-limitation-color: #868e96;
    --theme-signed-days-bg-color: #ffb245;
    --theme-sign-today-text-color: #fa8f22;
    --theme-manager-text-color: #808080;
    --theme-switch-disabled-bg-color: #cdcdcd;
    --theme-switch-disabled-text-color: #808080;
    --theme-increase-color: #0ebe98;
    --theme-decrease-color: #f73131;
    --theme-positive-color: #0ebe98;
    --theme-negative-color: #f73131;
    --theme-dialog-bg-color: #fff;
    --theme-chat-bg-color: #f7f7f7;
    --theme-chat-top-color: #eaeaea;
    --theme-chat-avtive-color: #d2d2d2;
    --theme-chat-side-menu-bg-color: #e3e4e5;
    --theme-chat-border-color: #e0e0e0;
    --theme-chat-self-bubble-bg-color: #a9e87a;
    --theme-chat-other-bubble-bg-color: #f3f3f3;
    --theme-chat-unread-tip-bg-color: #88d2f5;
    --theme-even-bg-color: #f4f4f4;
    --theme-odd-bg-color: #fff9f9;
    --theme-top-cart-bg-color: #51b6ef;
    --theme-living-bg-color: #fb7198;
    --theme-living-active-bg-color: #ffa13b;
    --theme-bg-global-image: url('https://cdn.ihan.club/bg.png');
    --theme-bg-global-image-size: 90%;
    --theme-mobile-bg-global-image: url('https://cdn.ihan.club/bg.png');
    --theme-popper-bg-color: #fff;
    --theme-popper-border-color: #fff;
    --theme-dialog-header-bg-color: #fff;
    --theme-dialog-header-color: #000;
    --theme-dialog-header-selected-color: #ffb769;
    --theme-chat-editor-bg-color: #fff;
    --theme-chat-footer-bg-color: #fff;
    --theme-drak-bg-text-color: #fff;
    --theme-global-bg-color: #000;
    --theme-drawer-bg-color: #fff;
    --theme-side-menu-bg-color: #fff;
    --theme-side-menu-text-color: #333;
    --theme-main-posts-bg-color: #fff;
    --theme-level-label-bg-color: #eee;
    --theme-level-label-text-color: #999;
    --theme-post-title-color: #000;
    --theme-post-list-content-color: #999;
    --theme-post-data-color: #808080;
    --theme-nickname-default-color: #606266;
    --theme-editor-around-bg-color: #fff;
    --theme-editor-text-color: #000;
    --theme-pagination-bg-color: #fff;
    --theme-pagination-jumper-text-color: #000;
    --theme-pagination-jumper-input-text-color: #000;
    --theme-pagination-jumper-input-border: 1px solid #DCDFE6;
    --theme-bottom-auth-bg-color: #fff;
    --theme-bottom-auth-text-color: #000;
    --theme-collapse-header-bg-color: #fff;
    --theme-collapse-header-text-color: #000;
    --theme-chat-selected-bg-color: #d2d2d2;
    --theme-block-text-color: #333;
    --theme-user-data-text-color: #606266;
    --theme-loading-text-color: #eee;
    --theme-post-content-bg-color: #fff;
    --theme-post-data-text-color: #7e7e7e;
    --theme-post-reply-bg-color: #fff;
    --theme-block-border: transparent;
    --theme-nav-bg-color: #ffb769;
    --theme-index-block-shadow: 1px 1px 10px -4px #2b0404;
    --theme-header-button-text-color: #fff;
    --theme-nav-text-color: #fff;
    --theme-nav-border-color: #fff;
    --theme-nav-float-button-bg-color: #ffb769;
    --theme-nav-float-button-text-color: #fff;
    --theme-liked-text-color: #ffb769;
    --theme-header-search: none;
    --theme-switch-bg-color: #ffb769;
    --theme-editor-toolbar-bg-color: #ffb769;
    --theme-post-master-label-color: #ffb769;
    --theme-editor-border-color: #ffb769;
    --theme-home-link-text-color: #ffb769;
    --theme-avatar-bg-color: #eee;
    --theme-home-banner-bg: url('https://cdn.ihan.club/banner.jpg');
    --theme-avatar-border: none;
    --theme-avatar-border-radius: 50%;
    --theme-reply-area-bg-color: #eee;
    --theme-not-living-text-color: #999;
    --theme-chat-header-bg-color: #fff;
    --theme-mobile-header-bg-color: #ffb769;
    --theme-message-text-color: ffb769;
    --theme-mobile-float-button-bg-color: #ffb769;
    --theme-post-text-color: #000;
    --theme-post-header-bg-color: #fff;
}

[data-theme="dark"] {
    --theme-color-primary: #527fba;
    --theme-color-success: #fff;
    --theme-color-warning: #fff;
    --theme-color-message: #fff;
    --theme-color-danger: #dc3a48;
    --theme-color-secondary: #333;
    --theme-bg-global: #f6f2ef;
    --theme-bg-primary: #355176;
    --theme-bg-success: #6ea82f;
    --theme-bg-warning: #e09d16;
    --theme-bg-message: #909399;
    --theme-bg-danger: #dc3a48;
    --theme-bg-secondary: rgba(51, 51, 51, 0.1);
    --theme-bg-block: #3e628980;
    --theme-bg-block-disabled: #bdc5cf;
    --theme-bg-block-dark: #f5f6f7;
    --theme-bg-reverse: #333;
    --theme-bg-tag: #f5b976;
    --theme-bg-active: #cccccc61;
    --theme-header-bg-color: #000;
    --theme-popover-bg-color: #000;
    --theme-text-color: #571A10;
    --theme-text-color-auxiliary: #2b60a6;
    --theme-text-color-auxiliary-light: #7e7e7e;
    --theme-text-color-secondary: #999;
    --theme-text-color-white: #fff;
    --theme-bg-color-white: #ffffff80;
    --theme-text-color-disabled: #aaa;
    --theme-text-color-link: #97b9ff;
    --theme-text-color-reverse: #fff;
    --theme-border-color: #527fba;
    --theme-border-color-dark: #e6e6e6;
    --theme-border-color-divider: #527fba;
    --theme-border-color-disabled: #e4e7ed;
    --theme-border-color-input: #ccc;
    --theme-border-color-input-focus: #7cb043;
    --theme-input-bg-color: #728196;
    --theme-input-text-color: #333;
    --theme-input-placeholder-color: #a0b1c7;
    --theme-hover-color: #f99326;
    --theme-hover-color-primary: #527fba;
    --theme-active-color: #f99326;
    --theme-icon-color-auxiliary: #808080;
    --theme-modal-bg-color: rgba(37, 37, 37, 0.7);
    --theme-color-primary-plain: #9ab9e1;
    --theme-text-color-primary-plain: #ffffff;
    --theme-color-primary-plain-hover: #aac4e4;
    --theme-text-color-primary-plain-hover: #fff;
    --theme-bg-color-badge: #335785;
    --theme-text-color-badge: #fff;
    --theme-shadow-color: #000;
    --theme-douyu-unbind-color: #b3704d;
    --theme-douyu-unbind-hover-color: #ff813c;
    --theme-douyu-color: #ff813c;
    --theme-bilibili-unbind-color: #4a6dc7;
    --theme-bilibili-unbind-hover-color: #5f84e3;
    --theme-bilibili-color: #5f84e3;
    --theme-words-limitation-color: #98c2eb;
    --theme-signed-days-bg-color: #ffb245;
    --theme-sign-today-text-color: #fa8f22;
    --theme-manager-text-color: #88b7f6;
    --theme-switch-disabled-bg-color: #cdcdcd;
    --theme-switch-disabled-text-color: #808080;
    --theme-increase-color: #0ebe98;
    --theme-decrease-color: #f73131;
    --theme-positive-color: #0ebe98;
    --theme-negative-color: #f73131;
    --theme-dialog-bg-color: #000;
    --theme-chat-bg-color: #f7f7f7;
    --theme-chat-top-color: #eaeaea;
    --theme-chat-avtive-color: #d2d2d2;
    --theme-chat-side-menu-bg-color: #000;
    --theme-chat-border-color: #1661de;
    --theme-chat-self-bubble-bg-color: #80b15b;
    --theme-chat-other-bubble-bg-color: #527fba;
    --theme-chat-unread-tip-bg-color: #88d2f5;
    --theme-even-bg-color: #59595a;
    --theme-odd-bg-color: #2d2d2d;
    --theme-top-cart-bg-color: #51b6ef;
    --theme-living-bg-color: #fb7198;
    --theme-living-active-bg-color: #ffa13b;
    --theme-bg-global-image: url('https://cdn.ihan.club/dark.png');
    --theme-bg-global-image-size: 90%;
    --theme-mobile-bg-global-image: url('https://cdn.ihan.club/dark-mobile-bg.png');
    --theme-popper-bg-color: #272732;
    --theme-popper-border-color: #000;
    --theme-dialog-header-bg-color: #527fba;
    --theme-dialog-header-color: #000;
    --theme-dialog-header-selected-color: #bbd8ff;
    --theme-chat-editor-bg-color: #527fba;
    --theme-chat-footer-bg-color: #527fba;
    --theme-drak-bg-text-color: #527fba;
    --theme-global-bg-color: #527fba;
    --theme-drawer-bg-color: #527fbae8;
    --theme-side-menu-bg-color: #527fbae8;
    --theme-side-menu-text-color: #97b9ff;
    --theme-main-posts-bg-color: #3e628980;
    --theme-level-label-bg-color: #1d71c8;
    --theme-level-label-text-color: #fff;
    --theme-post-title-color: #3e92ff;
    --theme-post-list-content-color: #2973c8;
    --theme-post-data-color: #527fba;
    --theme-nickname-default-color: #4f8fcf;
    --theme-editor-around-bg-color: #2e445c;
    --theme-editor-text-color: #61a5fd;
    --theme-pagination-bg-color: #4e77ad;
    --theme-pagination-jumper-text-color: #527fba;
    --theme-pagination-jumper-input-text-color: #bdd9fe;
    --theme-pagination-jumper-input-border: none;
    --theme-bottom-auth-bg-color: #000;
    --theme-bottom-auth-text-color: #999;
    --theme-collapse-header-bg-color: #345176;
    --theme-collapse-header-text-color: #fff;
    --theme-chat-selected-bg-color: #112238;
    --theme-block-text-color: #b2d5f1;
    --theme-user-data-text-color: #b2d5f1;
    --theme-loading-text-color: #527fba;
    --theme-post-content-bg-color: #3e5f8b;
    --theme-post-data-text-color: #588dd2;
    --theme-post-reply-bg-color: #3e5f8b;
    --theme-block-border: transparent;
    --theme-nav-bg-color: #527fba;
    --theme-index-block-shadow: 0px 0px 10px 4px var(--theme-shadow-color);
    --theme-header-button-text-color: #fff47f;
    --theme-nav-text-color: #fff;
    --theme-nav-border-color: #fff;
    --theme-nav-float-button-bg-color: #527fba;
    --theme-nav-float-button-text-color: #fff;
    --theme-liked-text-color: #ffb769;
    --theme-header-search: none;
    --theme-switch-bg-color: #527fba;
    --theme-editor-toolbar-bg-color: #527fba;
    --theme-post-master-label-color: #527fba;
    --theme-editor-border-color: #527fba;
    --theme-home-link-text-color: 97b9ff;
    --theme-avatar-bg-color: #eee;
    --theme-home-banner-bg: url('https://cdn.ihan.club/banner.jpg');
    --theme-avatar-border: none;
    --theme-avatar-border-radius: 50%;
    --theme-reply-area-bg-color: #5277a8;
    --theme-not-living-text-color: #dcdcdc;
    --theme-chat-header-bg-color: #527fba;
    --theme-mobile-header-bg-color: #527fba;
    --theme-message-text-color: #527fba;
    --theme-mobile-float-button-bg-color: #527fba;
    --theme-post-text-color: #6ca3eb;
    --theme-post-header-bg-color: #3d5f8a;
}

[data-theme="new-year-2023"] {
    --theme-color-primary: #fff47f;
    --theme-color-success: #fff;
    --theme-color-warning: #fff;
    --theme-color-message: #fff;
    --theme-color-danger: #fff;
    --theme-color-secondary: #333;
    --theme-bg-global: #f6f2ef;
    --theme-bg-primary: #b9363b;
    --theme-bg-success: #6ea82f;
    --theme-bg-warning: #e09d16;
    --theme-bg-message: #909399;
    --theme-bg-danger: #dc3a48;
    --theme-bg-secondary: rgba(51, 51, 51, 0.1);
    --theme-bg-block: #d93b44e6;
    --theme-bg-block-disabled: #bdc5cf;
    --theme-bg-block-dark: #f5f6f7;
    --theme-bg-reverse: #333;
    --theme-bg-tag: #f5b976;
    --theme-bg-active: #cccccc61;
    --theme-header-bg-color: #d93b44;
    --theme-popover-bg-color: #fff;
    --theme-text-color: #ffd62e;
    --theme-text-color-auxiliary: #666;
    --theme-text-color-auxiliary-light: #7e7e7e;
    --theme-text-color-secondary: #999;
    --theme-text-color-white: #fff;
    --theme-bg-color-white: #ffffff80;
    --theme-text-color-disabled: #aaa;
    --theme-text-color-link: #d93b44;
    --theme-text-color-reverse: #fff;
    --theme-border-color: #ffd62e;
    --theme-border-color-dark: #e6e6e6;
    --theme-border-color-divider: #ffd62e;
    --theme-border-color-disabled: #e4e7ed;
    --theme-border-color-input: #ccc;
    --theme-border-color-input-focus: #7cb043;
    --theme-input-bg-color: #d93b44;
    --theme-input-text-color: #333;
    --theme-input-placeholder-color: #f9b278;
    --theme-hover-color: #ffde9b;
    --theme-hover-color-primary: #cb333a;
    --theme-active-color: #ffde9b;
    --theme-icon-color-auxiliary: #808080;
    --theme-modal-bg-color: rgba(37, 37, 37, 0.7);
    --theme-color-primary-plain: #ffe0bf;
    --theme-text-color-primary-plain: #f99326;
    --theme-color-primary-plain-hover: #f99326;
    --theme-text-color-primary-plain-hover: #fff;
    --theme-bg-color-badge: #ffd62e;
    --theme-text-color-badge: #571A10;
    --theme-shadow-color: #70091e;
    --theme-douyu-unbind-color: #b3704d;
    --theme-douyu-unbind-hover-color: #ff813c;
    --theme-douyu-color: #ff813c;
    --theme-bilibili-unbind-color: #4a6dc7;
    --theme-bilibili-unbind-hover-color: #5f84e3;
    --theme-bilibili-color: #5f84e3;
    --theme-words-limitation-color: #868e96;
    --theme-signed-days-bg-color: #ffb245;
    --theme-sign-today-text-color: #fa8f22;
    --theme-manager-text-color: #ffb769;
    --theme-switch-disabled-bg-color: #cdcdcd;
    --theme-switch-disabled-text-color: #808080;
    --theme-increase-color: #0ebe98;
    --theme-decrease-color: #f73131;
    --theme-positive-color: #0ebe98;
    --theme-negative-color: #f73131;
    --theme-dialog-bg-color: #fff;
    --theme-chat-bg-color: #f7f7f7;
    --theme-chat-top-color: #eaeaea;
    --theme-chat-avtive-color: #d2d2d2;
    --theme-chat-side-menu-bg-color: #e3e4e5;
    --theme-chat-border-color: #e0e0e0;
    --theme-chat-self-bubble-bg-color: #a9e87a;
    --theme-chat-other-bubble-bg-color: #f3f3f3;
    --theme-chat-unread-tip-bg-color: #88d2f5;
    --theme-even-bg-color: #f4f4f4;
    --theme-odd-bg-color: #fff9f9;
    --theme-top-cart-bg-color: #51b6ef;
    --theme-living-bg-color: #fb7198;
    --theme-living-active-bg-color: #ffa13b;
    --theme-bg-global-image: url('https://cdn.ihan.club/new-yaer/new-year-2023.png');
    --theme-bg-global-image-size: cover;
    --theme-mobile-bg-global-image: url('https://cdn.ihan.club/bg.png');
    --theme-popper-bg-color: #fff;
    --theme-popper-border-color: #fff;
    --theme-dialog-header-bg-color: #d93b44;
    --theme-dialog-header-color: #000;
    --theme-dialog-header-selected-color: #ffb769;
    --theme-chat-editor-bg-color: #fff;
    --theme-chat-footer-bg-color: #fff;
    --theme-drak-bg-text-color: #fff;
    --theme-global-bg-color: #000;
    --theme-drawer-bg-color: #d93b44;
    --theme-side-menu-bg-color: #d93b44e6;
    --theme-side-menu-text-color: #fff47f;
    --theme-main-posts-bg-color: #fff;
    --theme-level-label-bg-color: #f3e9ea;
    --theme-level-label-text-color: #c4343e;
    --theme-post-title-color: #000;
    --theme-post-list-content-color: #999;
    --theme-post-data-color: #d93b44;
    --theme-nickname-default-color: #606266;
    --theme-editor-around-bg-color: #fff;
    --theme-editor-text-color: #000;
    --theme-pagination-bg-color: #fff;
    --theme-pagination-jumper-text-color: #000;
    --theme-pagination-jumper-input-text-color: #000;
    --theme-pagination-jumper-input-border: 1px solid #DCDFE6;
    --theme-bottom-auth-bg-color: #fff;
    --theme-bottom-auth-text-color: #000;
    --theme-collapse-header-bg-color: #d93b44;
    --theme-collapse-header-text-color: #ffd62e;
    --theme-chat-selected-bg-color: #d2d2d2;
    --theme-block-text-color: #fff;
    --theme-user-data-text-color: #f5a885;
    --theme-loading-text-color: #eee;
    --theme-post-content-bg-color: #fff;
    --theme-post-data-text-color: #f5a885;
    --theme-post-reply-bg-color: #fff;
    --theme-block-border: #ffd62e;
    --theme-nav-bg-color: #d93b44;
    --theme-index-block-shadow: none;
    --theme-header-button-text-color: #fff;
    --theme-nav-text-color: #fff47f;
    --theme-nav-border-color: #fff47f;
    --theme-nav-float-button-bg-color: #d93b44e6;
    --theme-nav-float-button-text-color: #c4343e;
    --theme-liked-text-color: #ffab00;
    --theme-header-search: 2px solid var(--theme-border-color);
    --theme-switch-bg-color: #e8636b;
    --theme-editor-toolbar-bg-color: #d93b44;
    --theme-post-master-label-color: #d93b44;
    --theme-editor-border-color: #d93b44;
    --theme-home-link-text-color: #edff8f;
    --theme-avatar-bg-color: transparent;
    --theme-home-banner-bg: url('https://cdn.ihan.club/new-year-2023/home-banner.jpg');
    --theme-avatar-border: url('https://cdn.ihan.club/new-year-2023/avatar-border.png');
    --theme-avatar-border-radius: none;
    --theme-reply-area-bg-color: #f5ebeb;
    --theme-not-living-text-color: #cfcfcf;
    --theme-chat-header-bg-color: #fff;
    --theme-mobile-header-bg-color: #bdad00;
    --theme-message-text-color: #b9363b;
    --theme-mobile-float-button-bg-color: #f3e9ea;
    --theme-post-text-color: #000;
    --theme-post-header-bg-color: #fff;
}
