.h-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
}

.h-input[size="small"] {
    border-radius: 18px;
}

.h-input__inner {
    -webkit-appearance: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid var(--theme-border-color-input);
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    cursor: pointer;
}

.h-input[size="small"] .h-input__inner {
    height: 34px;
    line-height: 34px;
}

.h-input[size="mini"] .h-input__inner {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}

.h-input__inner:focus {
    outline: none;
}

.h-input__inner::-webkit-input-placeholder {
    color: var(--theme-input-placeholder-color);
}
